.button {
  padding: 14px 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-11);
  border-radius: 82px;
  background: var(--green-60);
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #baff00;
}
