.useCases {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.textCont h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: var(--green-60);
}

.textCont p {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-70);
}

.subCont {
  display: flex;
  flex-direction: column;
  gap: 60px;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
  }

  .textCont {
    text-align: center;
  }
}
