.item {
  width: 100%;
  max-width: 782px;
  height: 347px;
  padding: 50px;
  border: 1px solid var(--grey-15);
  border-radius: 14px;
  padding: 50px;
  transition: all 0.3s ease;
}

.item:hover {
  transform: translateY(-10px);
}

.item h4 {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: var(--absolute-white);
}

.line {
  border: 1px solid var(--grey-15);
  width: 100%;
  height: 0px;
}

.item p {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-70);
}

@media screen and (max-width: 1695px) {
  .item {
    height: 400px;
  }
}

@media screen and (max-width: 1270px) {
  .item {
    height: 450px;
  }
}

@media screen and (max-width: 1185px) {
  .item {
    height: auto;
  }
}

@media screen and (max-width: 530px) {
  .item {
    padding: 30px;
  }

  .item h4 {
    font-size: 18px;
  }

  .item p {
    font-size: 14px;
  }
}
