.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 1185px) {
  .container {
    flex-direction: column;
  }
}
