.absDesign {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.content {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  gap: 150px;
  position: relative;
}

/* Responsive */

@media screen and (max-width: 1190px) {
  .content {
    margin-top: 100px;
  }
}

@media screen and (max-width: 690px) {
  .absDesign {
    width: 100%;
    max-width: 385px;
    height: 285px;
    top: 0;
    left: 0;
  }
}
